<% provide(:title, 'Home') %>
<h1><font color="green"> Welcome To Our Chat App!!</font></h1>
<hr>
<div align = "center">
	<%= link_to "Login",signin_path,class:"btn btn-large btn-primary"%>
	<%= link_to "SignUp",signup_path,class:"btn btn-large btn-primary"%>
</div>
