<br/>
<h1>Welcome!!!</h1>
<hr>
<div class = "navbar navbar-fixed-top navbar-inverse">
	<div class = "navbar-inner">
		<div class = "container">
			<ul class = "nav pull-right">
				<li><%= link_to "SignOut",signout_path,method:"delete"%></li>
			</ul>
		</div>
	</div>
</div>
<div class = "row">
	<aside class = "span4">
		<section>
			<h1>
				<%= gravatar_for @user %>
				<%= @user.email %>
			</h1>
		</section>
	</aside>
</div>